%h1 Listing nodes

%table{class: 'table table-bordered table-striped'}
  %tr
    %th Name
    %th Ip
    %th Status
    %th Max workers
    %th
    %th
    %th

  - @nodes.each do |node|
    %tr
      %td= node.name
      %td= node.ip
      %td= node.status
      %td= node.max_workers
      %td= link_to 'Show', node
      %td= link_to 'Edit', edit_node_path(node)
      %td= link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Node', new_node_path
