%h1 Listing projects
%table{class: 'table table-bordered table-striped'}
  %tr
    %th Name
    %th Repo
    %th Description
    %th Ruby version
    %th
    %th
    %th
  - @projects.each do |project|
    %tr
      %td= project.name
      %td= project.repo
      %td= project.description
      %td= project.ruby.name
      %td= link_to 'Show', organization_project_path(OrganizationHelper.default_id, project.id)
      %td= link_to 'Edit', edit_organization_project_path(OrganizationHelper.default_id, project.id)
      %td= link_to 'Destroy', organization_project_path(OrganizationHelper.default_id, project.id), confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Project', new_organization_project_path(OrganizationHelper.default_id)