%span12
  = link_to 'Edit', edit_project_path(@project)
  |
  \#{link_to 'Back', projects_path}
%p#notice= notice
%p
  %b Name:
  = @project.name
%p
  %b Repo:
  = @project.repo
%p
  %b Description:
  = @project.description
%p
  %b Ruby version:
  = @project.ruby_version
= link_to 'Edit', edit_project_path(@project)
|
\#{link_to 'Back', projects_path}

%h1 Last Bulds
%table{class: 'table table-bordered table-striped'}
  %tr
    %th Date
    %th status
    %th
  - @project.last_builds.each do |build|
    %tr
      %td= build.created_at
      %td= build.state
      %td= link_to 'Show', project_builds_path(project_id: @project.id)
%br/
= link_to 'New Project', new_project_path