%span12
  = link_to 'Edit', edit_organization_project_path(OrganizationHelper.default_id, @project.id)
  |
  \#{link_to 'Back', organization_projects_path(OrganizationHelper.default_id)}
%p#notice= notice
%p
  %b Name:
  = @project.name
%p
  %b Repo:
  = @project.repo
%p
  %b Description:
  = @project.description
%p
  %b Ruby version:
  = @project.ruby.name
= link_to 'Edit', edit_organization_project_path(OrganizationHelper.default_id, @project.id)
|
\#{link_to 'Back', organization_projects_path(OrganizationHelper.default_id)}

%h1 Latest Builds
%table{class: 'table table-bordered table-striped'}
  %tr
    %th Date
    %th status
    %th
  - @project.last_builds.each do |build|
    %tr
      %td= build.created_at
      %td= build.state
      %td= link_to 'Show', organization_project_build_path(organization_id: OrganizationHelper.default_id, project_id: @project.id, id: build.id)
%br/
= link_to 'New Project', new_organization_project_path(OrganizationHelper.default_id)